.start-container {
  background-color: #f5f5f5;
  margin-top: 0;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 2px solid #f0f0f0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-container {
  min-width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0px 10px;
}

.form-description {
  min-width: 60%;
  margin-top: 20px;
}

.form-description h3 {
  margin: 0px;
  font-weight: 700;
}

.form-description p {
  margin-top: 0;
  font-size: 12px;
  font-weight: 500;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #febb02;
  padding: 4px 4px 4px 2px;
  border-radius: 5px;
}

.place-form,
.calendar-form,
.person-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffff;
  margin: 0px 3px;
  padding: 0px 20px;
  border-radius: 3px;
}

.place-input {
  width: 90%;
  height: 100%;
  border: none;
  padding: 0px 20px;
}

.calendar_input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calendar_input-group input {
  width: 80%;
  height: 50px;
  border: none;
  padding: 0px;
}

.person_input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.person_input-group input {
  width: 80px;
  height: 50px;
  border: none;
  padding: 0px;
}

.person_input-group input::-webkit-input-placeholder,
.calendar_input-group input::-webkit-input-placeholder {
  text-align: center;
}

.person_input-group input::-moz-placeholder,
.calendar_input-group input::-moz-placeholder {
  text-align: center;
}

.person_input-group input:-ms-input-placeholder,
.calendar_input-group input:-ms-input-placeholder {
  text-align: center;
}

.person_input-group input::-ms-input-placeholder,
.calendar_input-group input::-ms-input-placeholder {
  text-align: center;
}

.person_input-group input::placeholder,
.calendar_input-group input::placeholder {
  text-align: center;
}

.person_input-group input,
.calendar_input-group input {
  cursor: pointer;
}

input {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #000;
}

input::-ms-input-placeholder {
  color: #000;
}

input::placeholder {
  color: #000;
}

.form-btn button {
  width: 150px;
  height: 50px;
  background-color: #0071c2;
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 3px;
}

.place-form {
  width: 330px;
  height: 50px;
}

.calendar-form,
.person-form {
  width: 270px;
  height: 50px;
}

.business-checkbox {
  margin-top: 10px;
}

.business-checkbox input {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .form-wrapper {
    flex-direction: column;
    background-color: #febb02;
    padding: 2px 2px 2px 1px;
  }

  .place-form,
  .calendar-form,
  .person-form {
    width: 90%;
    margin: 3px 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

   .calendar_input-group input{
     margin: 5px;
   }
  
  .form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-btn button {
    width: 90%;
  }
}