.inspiration_up-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inspiration-wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.inspiration-wrapper h2 {
  margin-bottom: 0;
  margin-top: 50px;
  margin-left: 10px;
}

.inspiration_up-wrapper,
.inspiration_down-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.inspiration-up_element,
.inspiration-down_element {
  position: relative;
  overflow: hidden;
  width: 550px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.inspiration-up_element::after,
.inspiration-down_element::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-box-shadow: inset 0 -50px 100px 0px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 -50px 100px 0px rgba(0, 0, 0, 0.8);
}

.inspiration-up_element {
  margin: 10px 10px;
}

.inspiration-down_element {
  margin: 10px 10px;
}

.inspiration-header {
  position: relative;
  z-index: 1;
  font-weight: 700;
  margin-bottom: 0;
  text-shadow: 1px 1px black;
}

.inspiration-description {
  position: relative;
  z-index: 1;
  font-size: 10px;
  font-weight: 400;
  margin-top: 0;
  text-shadow: 1px 1px black;
}

@media (max-width: 768px) {
  .inspiration-up_element,
  .inspiration-down_element {
    width: 300px;
    height: 150px;
  }

  .inspiration_up-wrapper,
  .inspiration_down-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .inspiration-up_element,
  .inspiration-down_element {
    width: 200px;
    height: 250px;
  }
}
